<html>
	<head>
		<title>Rock Paper Scissors</title>
	</head>
	<body>
    <center>
		<h1 class="title"> Rock, Paper, Scissors </h1>
		<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Piedra_papel_tijeras.jpg/250px-Piedra_papel_tijeras.jpg" width="250" height="200" border="2" align="middle">
        
		<form name="form" action="/throw/" method="get">
			<h3>Elije (rock, paper, scissors): <input type="text" name="option"><br>
			<input type="submit" value="Submit"/></h3>
		</form>
    </center>
	</body>
</html>

