<h1> Rock, Paper, Scissors </h1>

<form name="form" action="/throw/" method="get">
<h3>You choose: <input type="text" name="option"><br>
<input type="submit" value="Submit"/></h3>
</form> 

<h2>-Your score: <%= session[:win] %></h2>
<h2>-Computer score: <%= session[:lose] %></h2>
<h2>-Ties: <%= session[:ties] %></h2>

<form method="GET" action="/clear">
  <input type="submit" value="Clear Session" />
</form>
