%h1 Rock, Paper, Scissors
%form{:action => "/throw/", :method => "get", :name => "form"}
  %h3
    You choose:
    %input{:name => "option", :type => "text"}
      %br
        %input{:type => "submit", :value => "Submit"}/
%h2
  \-Your score: #{session[:win]}
%h2
  \-Computer score: #{session[:lose]}
%h2
  \-Ties: #{session[:ties]}
%form{:action => "/clear", :method => "GET"}
  %input{:type => "submit", :value => "Clear Session"}/