<form name="input" action="/throw" method="get">
  Your play: <input type="text" name="play" pattern="[^\s]{1,}"
  title="Empty string doesn't allow!"/>
  <input type="submit" value="Accept" />
</form>

Counters: 
<ul>
  <li> Wins: </li>
  <li> Defeats: </li>
  <li> Ties: <%= @counter_ties %> </li>
</ul>

<p> Total: <%= @counter_total %> </p>

<form name="input" action="/" method="get">
  <input type="submit" value="Reset" />
</form>