<html>
	<head>
		<title>Rock Paper Scissors</title>
	</head>
	<body>
  <center>
   		<h1 class="title"> Rock, Paper, Scissors - Resultado </h1>
		<h2 class="box1"> Elección del ordenador:  <%= @computer_throw %> </h2>
<h2 class="box1"> Tu elección: <%= @player_throw %> </h2>
		<h1 class="promo"> <%= @answer %> </h1>
        </center>
	</body>
</html>